BODY { color:black; background:white; }
A:link { color:blue; }
A:visited { color:purple; }

.highlight { 
	font-family:Arial,Helvetica,sans-serif;
   background:yellow;
	margin-right:2em;
}

.pinkhighlight { 
	font-family:Arial,Helvetica,sans-serif;
   background:pink;
	margin-right:2em;
}

.alert { 
	font-family:Arial,Helvetica,sans-serif;
   background:red;
	color:white;
	margin-right:2em;
}
