/*
 * Here is an example of a style sheet that was produced
 * with no high level design done.
 */

H1,H2,H3,H4,H5,H6 {
   font-family: Arial,Helvetica,Sans-serif;
}

.question {
   font-style:italic;
}

.answer {
   font-style:normal;
}

.links {
   font-family: Arial,Helvetica,Sans-serif;
   font-size:x-small;
   font-weight:bold;
}

.header {
   font-family: Arial,Helvetica,Sans-serif;
   font-weight:normal;
}

.name {
   font-family: Arial,Helvetica,Sans-serif;
   font-weight:normal;
}

.magazine {
   font-family: Arial,Helvetica,Sans-serif;
   font-weight:normal;
}

.item {
   font-family: Arial,Helvetica,Sans-serif;
   font-weight:bold;
	color:green;
}

.url {
	font-family: Monospace;
}

.boldheader {
   font-family: Arial,Helvetica,Sans-serif;
   font-weight:bold;
}

.headerWithColor {
   font-family: Arial,Helvetica,Sans-serif;
   font-weight:normal;
   background:pink;
}
